@import './variables.scss';

#contact-layout {
    height: 45vh;
    background-color: $orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2% 0;
}

#contact-title {
    margin: 0;
    font-family: $title-text;
    color: $white;
    font-size: 3.5rem;
    letter-spacing: 0.15rem;
    text-shadow: 4px 3px 0px rgba($black, 0.3);
}

#contact-text {
    font-family: $body-text;
    color: $white;
    margin: 0 25%;
    font-size: 1.3rem;
    text-align: center;
}

.callEmailLink {
    color: lighten($green, 47);
    font-weight: 700;
    text-shadow: 2px 1px 0px rgba($black, 0.3);
}

#social-media-text {
    font-family: $body-text;
    color: $white;
    text-shadow: 4px 3px 0px rgba($black, 0.3);
    font-size: 2rem;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
}

#sm-section {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sm-link-section {
    display: flex;
    width: 20vw;
    justify-content: space-around;
}

.sm-link {
    color: $white;
    padding: 5px 10px;
    font-size: 1.2rem;
    background-color: $green;
    text-decoration: none;
    width: 35%;
    text-align: center;
    font-weight: 400;
    font-family: $body-text;
    border-radius: 8px;
    box-shadow: 5px 5px 0px rgba($black, 0.4);
}

@media screen and (max-width: 849px) {
    #contact-layout {
        height: fit-content;
    }

    #contact-title {
        margin-top: 3%;
        font-size: 2.5rem;
        text-align: center;
    }

    #contact-text {
        margin: 3% 15%;
        font-size: 1rem;
    }

    #sm-section {
        width: 80vw;
    
    }

    #social-media-text {
        font-size: 1.5rem;
        margin: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    #sm-link-section {
        display: flex;
        width: 60vw;
        justify-content: center;
        gap: 15px;
    }

    .sm-link {
        color: $white;
        padding: 5px 10px;
        font-size: 1rem;
        width: fit-content;
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 1350px) and (min-width: 850px) {

}