@import './variables.scss';

#navbar-layout {
    background-color: $pink;
    height: 12vh;
}

#home-body {
    height: 88vh;
    background-color: $pink;
    display: flex;
    align-items: center;
}

#navbar {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 30% auto 36%;
    align-items: end;
    margin-left: 92px;
    margin-right: 8%;
}

#navbar-text {
    grid-column: 1 / 2;
    margin: 0;
    height: 60%
}

#nav-links {
    grid-column: 3 / 4;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-bottom: 1%;
    cursor: pointer;
}

.p-text {
    margin: 0;
}


#hero {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 60vw 40vw;
}

#home-left {
    height: 100%;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

.title-text {
    color: $white;
    font-family: $title-text;

}

.body-text {
    color: $white;
    font-family: $body-text;

}

#home-text {
    width: 52vw;
}

#hello {
    margin: 0;
    font-size: 6rem;
    color: rgba($white, .9);
    letter-spacing: 0.3rem;
    // margin-top: 14%;
}

#describe {
    font-family: $body-text;
    font-size: 2.5rem;
    width: 100%;
    // margin-bottom: 7%;
}

#home-right {
    display: flex;
    align-items: center;
    justify-content: center;
}


#headshot {
    height: 56vh;
    width: auto;
    border-radius: 50%;
    margin-right: 15%;
    // margin-bottom: 5%;
}

.absGraphics {
    position: absolute;
    height: 40%;
}

#confetti {
    top: 55%;
    left: 75%;
}

#yellow-squig {
    top: 25%;
    left: 60%;
    height: 30%;
}


@media screen and (max-width: 1650px) {
    #describe {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1330px) {
    #describe {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1050px) {
    #hello {
        font-size: 5rem;
    }
}