@import './variables.scss';

#info-body {
    height: 100vh;
    background-color: $green;
    display: grid;
    grid-template-columns: 55vw 45vw;
    grid-template-rows: 15vh 53vh 24vh;
}

.titles {
    font-family: $body-text;
    color: $white;
    letter-spacing: 0.05rem;
    margin: 0;
}

#info-title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 2%;
    font-family: $title-text;
    color: $white;
    font-size: 4rem;
    letter-spacing: 0.15rem;
    
}

#info-left {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin: 3% 15%;
    margin-right: 0;
}

#work-info {
    color: $white;
    font-family: $body-text;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

#work-details {
    color: $white;
    font-family: $body-text;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
}

#talk-link {
    font-weight: 600;
    color: lighten($orange, 25)
}

#info-right {
    grid-column: 2 / 3;
    grid-row: 2 / 3; 
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#carousel {
    width: 65%;
    text-align: center;
    border-radius: 20px;
}

.slider-btns {
    position: absolute; 
    display: flex;
    justify-content: center;
    background-color: transparent;
    transform: translateY(-50%);
    top: 50%;
    color: $white;
    border: none;
    border-radius: 50%;
    display: block;
}

.carousel-image {
    border-radius: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#proj-name {
    font-family: $body-text;
    background-color: $white;
    color: $green;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    border-radius: 40px;
    padding: 10px 15px;
}

#info-bottom {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    // justify-content: space-evenly;
}

#techs {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.titles {
    font-weight: 500;
    font-size: 1.8rem;
}

.tech-sections {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
    background-color: rgba($white, 0.25);
    width: 27vw;
    height: 90%;
    margin: 0 5px 0 5px;
    border-radius: 20px;
}

.tech-section-titles {
    font-family: $body-text;
    color: $white;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.icon-sections {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.icon {
    height: 40px;
    width: auto;
}