@import './variables.scss';

#resume-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    min-height: 50vh;
    height: fit-content;
    background-color: $white;
    padding: 0 0 5% 0;
}

ul {
    padding: 0;
}

#resume {
    width: 50%;
    height: fit-content;
    background-color: rgba($purple, 0.1);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 12px;
}

#resume-title {
    font-family: $title-text;
    color: $black;
    font-size: 3.5rem;
    margin: 2% 0;
    letter-spacing: 0.15rem;
}

#resume-comp-layout {
    display: flex;
    flex-direction: column;
}

#title-and-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: lighten($purple, 47);
    border-radius: 12px;
    box-shadow: 4px 4px 0px rgba($black, 0.4);
}

#resume-pics {
    height: auto;
    width: 80%;
}

#proj-title {
    margin: 0.5%;
    margin-bottom: 0;
    font-family: $body-text;
    color: $black;
    font-size: 1.4rem;
}

#proj-desc {
    font-family: $body-text;
    color: $black;
    font-weight: 400;
    font-size: 1rem;
    font-style: italic;
    margin-top: 0;
    text-align: center;
}

#info-list {
    font-family: $body-text;
    text-align: justify;
    margin-right: 10%;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

#carousel-layout {
    margin-top: 1%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#carousel {
    width: 65%;
    text-align: center;
    border-radius: 20px;
}

.slider-btns {
    position: absolute; 
    display: flex;
    justify-content: center;
    background-color: transparent;
    transform: translateY(-50%);
    top: 50%;
    color: $purple;
    border: none;
    border-radius: 50%;
    display: block;
}

.carousel-image {
    border-radius: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#proj-name {
    font-family: $body-text;
    background-color: $purple;
    color: $white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    border-radius: 8px;
    padding: 5px 10px;
    box-shadow: 5px 5px 0px rgba($black, 0.4);
}

@media screen and (max-width: 849px) {
    #resume-layout {
        padding: 3% 0;
        height: fit-content;
    }

    #resume-title {
        font-size: 1.8rem;
        text-align: center;
    }
    
    #resume {
        width: 80%;
        height: fit-content;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 1300px) and (min-width: 850px) {
    #work-info {
        font-size: 1.5rem;
    }
    
    #work-details {
        font-size: 1rem;
    }
}
