@import './variables.scss';

#resume-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    min-height: 50vh;
    height: fit-content;
    background-color: $blue;
    padding: 0 0 5% 0;
}

ul {
    padding: 0;
}

#resume {
    width: 60%;
    height: fit-content;
    background-color: lighten($blue, 52);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 12px;
}

#resume-title {
    font-family: $title-text;
    color: $white;
    text-shadow: 4px 3px 0px rgba($black, 0.3);
    font-size: 3.5rem;
    margin: 2% 0;
    letter-spacing: 0.15rem;
}

#resume-comp-layout {
    display: flex;
    flex-direction: column;
}

#title-and-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out .1s;
    height: 60px;
    width: 60px;
    background-color: lighten($blue, 58);
    border-radius: 12px;
    box-shadow:
        -5px -5px 20px 0px lighten($blue, 62),
        -2px -2px 5px 0px lighten($blue, 64),
        7px 7px 20px 0px rgba($black, 0.3),
        4px 4px 5px 0px rgba($black, 0.2),
        inset 0px 0px 0px 0px lighten($blue, 62),
        inset 0px 0px 0px 0px rgba($black, 0.3),
        inset 0px 0px 0px 0px lighten($blue, 62),        
        inset 0px 0px 0px 0px rgba($black, 0.2);
}

#img-box:active {
    box-shadow:
        4px 4px 6px 0 rgba(255,255,255,.5),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255,255,255,.5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

#resume-pics {
    height: auto;
    width: 80%;
}

#proj-title {
    margin: 0.5%;
    margin-bottom: 0;
    font-family: $body-text;
    color: $black;
    font-size: 1.4rem;
}

#proj-desc {
    font-family: $body-text;
    color: $black;
    font-weight: 400;
    font-size: 1rem;
    font-style: italic;
    margin-top: 0;
    text-align: center;
}

#info-list {
    font-family: $body-text;
    text-align: justify;
    margin-right: 10%;
    font-size: 0.9rem;
    line-height: 1.5r0em;
}

@media screen and (max-width: 849px) {
    #resume-layout {
        padding: 3% 0;
        height: fit-content;
    }

    #resume-title {
        font-size: 1.8rem;
        text-align: center;
    }
    
    #resume {
        width: 80%;
        height: fit-content;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 1300px) and (min-width: 850px) {
    #work-info {
        font-size: 1.5rem;
    }
    
    #work-details {
        font-size: 1rem;
    }
}
