@import './variables.scss';

#resume-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    height: fit-content;
    background-color: $blue;
}

#resume-title {
    font-family: $title-text;
    color: $white;
    font-size: 3.5rem;
    letter-spacing: 0.15rem;
}

#resume {
    width: 60%;
    height: fit-content;
    background-color: lighten($blue, 58);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 12px;
    margin-bottom: 10%;
}

#resume-comp-layout {
    display: flex;
    flex-direction: column;
}

#title-and-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out .1s;
    height: 60px;
    width: 60px;
    background-color: lighten($blue, 60);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;}

#img-box:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#resume-pics {
    height: auto;
    width: 80%;
}

#proj-title {
    margin: 0.5%;
    margin-bottom: 0;
    font-family: $body-text;
    color: $black;
    font-size: 1.4rem;
}

#proj-desc {
    font-family: $body-text;
    color: $black;
    font-weight: 400;
    font-size: 1rem;
    font-style: italic;
    margin-top: 0;
}

#info-list {
    font-family: $body-text;
    text-align: justify;
    margin-right: 10%;
    font-size: 0.9rem;
    line-height: 1.5r0em;
}

